*{
    font-family: 'Share Tech Mono', monospace;
}

.btn{
    margin-top:30px;
}

body{
    width:100%;
    height:100%;
    background:black;
    &.play{
        background: url('/images/bg.png') no-repeat 0 0;
        background-size:cover;
        height:100%;
        width:100%;
    }
}

.begin{
    display:none;
    padding-top:50px;
    opacity:0;

    button{
        height:50px;
        width:200px;
        margin:0 auto;
        display:block;
        background:black;
        color:white;
        border:2px solid white;

        &:hover,&:focus{
            background:white;
            color:black;
            border:2px solid white
        }
    }
}

.introduction{
    display:none;
    padding-top:50px;
    opacity:0;

    h1, h3, h5{
        color:white;
        display:none;
    }

    h1{
        font-size:52px;
    }

    img{
        display:none;
        width:100%;
    }

    .heading-2{
        margin-bottom:25px;
    }

    button{
        background:black;
        color:white;
        border:2px solid white;
        display:none;

        &:hover,&:focus{
            background:white;
            color:black;
            border:2px solid white
        }
    }
}

.select-screen{
    padding-top:50px;

    h3{
        color:white;
        text-align:center;
        font-size:52px;
    }

    button{
        height:80px;
        font-size:24px;
        background:black;
        color:white;
        border:2px solid white;
    
        &:hover,&:focus{
            background:white;
            color:black;
            border:2px solid white
        }
    }
}

.ready-screen{
    display:none;
    padding-top:50px;
    opacity:0;

    h3{
        color:white;
        text-align:center;
        font-size:52px;
    }


    .play-button{
        height:80px;
        font-size:24px;
        background:black;
        color:white;
        border:2px solid white;
        display:none;
    
        &:hover,&:focus{
            background:white;
            color:black;
            border:2px solid white
        }
        
    }

    .hover-button{
        display:none;
        height:250px;
        width:250px;
        margin:0 auto;
        font-size:24px;
        background:white;
        color:black;
        border:2px solid black;
        border-radius:200px;
        margin-top:100px;
        outline:none;
        transition:all .2s;

        &:hover,&:focus{
            background: darken(white, 40%);
            color:white;
            border:2px solid black
        }

        &:active{
            background: darken(white, 60%);
            -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
               -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
                    box-shadow: inset 0px 0px 10px #c1c1c1;
             outline: none;
        }
    }
}

.play-screen{
    width:100%;
    position: relative;
    display:none;
    // padding-top:50px;
    opacity:0;
    height:100%;

    p{
        position:absolute;
        right:0;
        top:30px;
        // display:block;
        transform:rotate(90deg);
    }

    h3{
        text-align:center;
        // position:absolute;
        // right:0;
        // top:30px;
        // display:block;
        transform:rotate(90deg);
    }

    #plane{
        height:126px;
        width:50px;
        background-image:url('/images/plane.png');
        background-size:contain;
        position:absolute;
        top:-20px;
        left:50%;
        display:none;
        transform:scale(0.7);

        &:after{
            position:absolute;
            bottom:-10px;
            display:block;
            content:'';
            background-image:url('/images/prop.png');
            animation: propel .09s steps(4) infinite;
            height:10px;
            width:50px;
        }
    }

    @keyframes propel{
        0%{background-position: 0 0;}
        100%{background-position: 0 -80px;}
      }


    .obstacle{
        width:10px;
        background-color:black;
        height:20px;
        position:absolute;
        left: 0;
        display:none;
    }
}

.game-over-screen{
    display:none;
    width:100%;
    height:100%;
    padding-top:50px;

    h1,h2{
        color:white;
        text-align:center;
        font-size:52px;
    }

}

