*{
    font-family: 'Share Tech Mono', monospace;
}

.btn{
    margin-top:30px;
}

body{
    width:100%;
    height:100%;
    background:black;
    &.play{
        background: url('/images/bg.png') no-repeat 0 0;
        background-size:cover;
        height:100%;
        width:100%;
    }
}

.introduction{
    padding-top:50px;
    h3, h5{
        color:white;
        span{
            font-size:52px;
        }
    }

    button{
        background:black;
        color:white;
        border:2px solid white;

        &:hover,&:focus{
            background:white;
            color:black;
            border:2px solid white
        }
    }
}

.select-screen{
    display:none;
    padding-top:50px;

    h3{
        color:white;
        text-align:center;
        font-size:52px;
    }

    button{
        height:80px;
        font-size:24px;
        background:black;
        color:white;
        border:2px solid white;
    
        &:hover,&:focus{
            background:white;
            color:black;
            border:2px solid white
        }
    }
}

.ready-screen{

    .play-button{
        display: none;
    }

    .hover-button{
        display:none;
        height:250px;
        width:250px;
        margin:0 auto;
        background: orange;
        border:0 none;
        border-radius:200px;
        margin-top:100px;
        outline:none;
        transition:all .2s;

        &:active{
            background: darken(orange, 5%);
            -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
               -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
                    box-shadow: inset 0px 0px 10px #c1c1c1;
             outline: none;
        }
    }
}

.play-screen{
    width:100%;
    position: relative;


    #plane{
        height:126px;
        width:50px;
        background-image:url('/images/plane.png');
        background-size:contain;
        position:relative;
        top:0;
        left:50%;
        display:none;

        &:after{
            position:absolute;
            bottom:-20px;
            display:block;
            content:'';
            background-image:url('/images/prop.png');
            background-repeat:no-repeat;
            background-position: 0 0;
            height:20px;
            width:50px;
        }
    }

    .obstacle{
        width:10px;
        background-color:black;
        height:20px;
        position:absolute;
        left: 0;
        display:none;
    }
}

.game-over-screen{
    display:none;
    width:100%;
    height:100%;

    h1{
        text-align:center;
    }
}

